/express_app/node_modules
/express_app/package-lock*
/express_app/config/certs/*
/express_app/temp/*
/express_app/emr/*
/express_app/mqtt/*.yaml
/express_app/mqtt/certs*/
/express_app/mqtt/.env
/express_app/mqtt/__pycache__

/mysignals_hardware/Pi/__pycache__
/mysignals_hardware/Pi/service/mysignals.service
/mysignals_hardware/Pi/certs/*

!/express_app/config/certs/.gitkeep
!/express_app/emr/.gitkeep
!/express_app/emr/build_emr.py
!/express_app/emr/emr_docker.py
!/express_app/mqtt/.gitkeep
!/express_app/mqtt/config
!/express_app/mqtt/build_swarm.py
!/express_app/wallets/.gitkeep
!/express_app/temp/.gitkeep

!/mysignals_hardware/Pi/certs/.gitkeep