<%- include ("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1><i class="fas fa-laptop-medical"></i> ChainHealth</h1>
        <p>A Blockchain-based framework for Collaborative Medical Storage</p>
    </div>
    <hr>
    <img src="/images/home/image0.jpg" class="rounded img-responsive thumbnail" alt="Responsive image" id="image-home">
</div>

<script src="/js/home.js" type="text/javascript"></script>

<%- include ("partials/footer") %> 